MONGO_URI=your mongo uri
PORT=5500
JWT_SECRET=secret key
NODE_ENV=development
NASA_API_KEY=you nasa api key
ASTRONOMY_API_ID=your api id
ASTRONOMY_API_SECRET=your api secret
FRONTEND_URL=http://localhost:5173
EMAIL_USER=email
EMAIL_PASS=pass